.btnbutton {
    border-radius: 2px;
    border-color: black;
    padding: 2px;
    margin-left: 5px;
}

$border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
$border-width: 0.125em;
$curve-size: 0.5em;
$blur: 30px;
$bg: #080312;
$color: #afffff;

.btn {
    color: $color;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(0% $curve-size, $curve-size 0, 100% 0, 100% calc(100% - $curve-size), calc(100% - $curve-size) 100%, 0 100%);
    transition: color 250ms;
    text-decoration: none;

    &::after,
    &::before {
        content: "";
        position: absolute;
        inset: 0;
    }

    &::before {
        background: $border-color;
        background-size: 300% 300%;
        animation: move-bg 5s ease infinite;
        z-index: -2;
    }

    &::after {
        background: $bg;
        z-index: -1;
        clip-path: polygon($border-width calc($curve-size + $border-width * 0.5), calc($curve-size + $border-width * 0.5) $border-width, calc(100% - $border-width) $border-width, calc(100% - $border-width) calc(100% - calc($curve-size + $border-width * 0.5)), calc(100% - calc($curve-size + $border-width * 0.5)) calc(100% - $border-width), $border-width calc(100% - $border-width));
        transition: clip-path 500ms;
    }

    &:hover,
    &:focus {
        color: #fff;
        &::after {
            clip-path: polygon(calc(100% - $border-width) calc(100% - calc($curve-size + $border-width * 0.5)), calc(100% - $border-width) $border-width, calc(100% - $border-width) $border-width, calc(100% - $border-width) calc(100% - calc($curve-size + $border-width * 0.5)), calc(100% - calc($curve-size + $border-width * 0.5)) calc(100% - $border-width), calc(100% - calc($curve-size + $border-width * 0.5)) calc(100% - $border-width));
            transition: 200ms;
        }
    }
}

@keyframes move-bg {
    0% {
        background-position: 31% 0%;
    }

    50% {
        background-position: 70% 100%;
    }

    100% {
        background-position: 31% 0%;
    }
}

.filtroGeneroScroll {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 20px;
  max-width: 100%;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #00ffff20 #1a1a1a;
}

.filtroGeneroScroll::-webkit-scrollbar {
  height: 8px;
}

.filtroGeneroScroll::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

.filtroGeneroScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #00ffff, #00aaff); /* De cian a azul eléctrico */
  border-radius: 10px;
  transition: background 0.3s ease;
}

.filtroGeneroScroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #00ffff, #0088cc); /* Más fuerte al pasar el mouse */
}

.filtroGeneroScroll > button {
  margin: 0 20px;
}


.titulo-generos {
 
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;

  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.titulo-generos:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}