.buscador {
    text-align: center;
    align-items: center;
    padding: 5px;
    background-color: #c9b7db;
    width: 300px;
    margin-left: -600px;
     flex: 1;
    min-width: 150px;
    max-width: 300px;

}