footer {
    background-color: #201f21;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem;
    color: white;

    > div:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Alinea al centro dentro de su contenedor */
        gap: 1rem;
    }

    > div:nth-child(3) {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;

        > p {
            color: aliceblue;
            text-decoration: none;
            font-size: 0.9rem;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
