header {
    background-color: #201f21;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 1rem 0;
    > div {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        > div {
            img {
                height: 5rem;
                width: 5rem;
            }
        }
        // 
        > ul {
            display: flex;
            width: 100vh;
            justify-content: space-between;
            align-items: center;
            > li {
                > a {
                    color: aliceblue;
                    text-decoration: none;
                    font-size: 1.2rem;
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .header-login {
        width: 100%;
        > li {
            display: flex;
            a {
                color: aliceblue;
            }
        }
    }
}
.logo {
    display: flex;
    align-items: center;
    img {
        height: 5rem;
        width: 5rem;
        margin-right: 1rem;
    }
}
