.perfil-section {
    color: #fff;
    background-color: #201f21;
    height: 100vh;
    h2 {
        text-align: center;
        padding-top: 20px;
        font-family: "Arial", sans-serif;
        font-size: 2.5rem;
        border-bottom: 2cap solid #444;

    }
}
.mensaje-vacio {
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    color: #ccc;
    margin-top: 5rem;
}
